# computed files
# - note that some of these are computed while running the stuff in
# `code_tools.Rmd` and wqouldn't normally be dropped from git

*.html
rosa/cleaned.py
rosa_cleaned/rosa_cleaned/lgis.py
setup.py

# R project stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect

# Python stuff
.hypothesis
*egg-info
**/__pycache__
